<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "Go to welcome view", controller: "welcome" %>
<br><br>

<%= javascript_pack_tag 'home' %>
<%= react_component 'Home', { title: 'This is the Home component' } %>
